/*hover*/
.pagleo:hover, .pagcami:hover{
    color: #10a4d1;
}
/*focus*/
.pagleo:focus, .pagcami:focus{
    color:red;
}
/*target*/
.pagleo:target  {
    color:blue;
}

/* Multiples */
.pagleo, .pagcami {
    text-decoration: none;
    color: white;
    margin: 0.5rem;
    text-align: center;
    transition: color 0.3s, transform 0.3s;
}

/* Hijos */
.container > p {
    color: blue;
    font-size: 1.5rem;
}

/* Selectores Descendentes */
.container p {
    color: green;
    font-size: 1.2rem;
}
* {
    background-color: #A6855D;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.titulo_principal {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

@media (min-width: 768px) {
    .titulo_principal {
        font-size: 2rem;
    }
}

.letra_principal {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .media {
        font-size: 10rem;
    }
}

@media (min-width: 768px) {
    .nom-principal {
        font-size: 10rem;
    }
}

@media (min-width: 1024px) {
    .titulo_principal {
        font-size: 10rem;
    }
}

@media (min-width: 1041px) {
    .titulo_principal {
        font-size: 8rem;
    }
}

.container {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row-reverse;
    }
}

.div_izq, .div_der {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    flex: 1;
}

@media (min-width: 768px) {
    .div_izq, .div_der {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .final {
        font-size: 10rem;
    }
}

.tex_final {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
}

.foto_perfil {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .media {
        flex-direction: row;
        justify-content: center;
    }
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.iconocami{
    color:red
}
